# ignore output javascript files
dist/

# ignore npm_modules directory
node_modules/

# ignore bower_components directory
bower_components/

# ignore .psci_modules directory
.psci_modules/

#ignore .psci config file
.psci
